@import "tailwindcss";



@theme {
    --animate-shrink-7s: shrink 7s linear forwards;
    --animate-border-draw: border-draw 10s linear forwards;
}

@keyframes shrink {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes border-draw {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -100;
    }
}